@font-face {
  font-family: 'Press Start 2P';
  src: url('../assets/fonts/PressStart2P-Regular.ttf') format('truetype');
}

.pause-container {
    width: 300px;
    height: 500px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #a0e7ff, #d4f1ff); /* Gradiente azul claro */
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 3px #007bff; /* Borda azul */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15); /* Sombra suave */
    transition: transform 0.3s ease;
}

.pause-button {
    font-family: 'Press Start 2P';
    padding: 20px 40px;
    background-color: #007bff;
    border: 3px solid #0056b3;
    color: white;
    border-radius: 15px;
    font-size: 20px;
    box-shadow: 0 5px #004085;
    cursor: pointer;
    transition: all 0.3s ease;
}

.pause-button:hover {
    background-color: #339af0;
}

.pause-button:active {
    background-color: #0056b3;
    box-shadow: 0 3px #004085;
    transform: translateY(3px);
}

.pause-back {
    width: 100%;
    height: 100%;
    cursor: default;
}

.imgPause {
  width: 90%;
  height: 60%;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}
